<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>5 in row</title>
  </head>

  <body>
    <h1>Game 5 in row</h1>

    <div class="container">
        <form action="index" method="post">
            <div>
                <label for="new_game">New Game</label>
                <input type="submit" id="new_game" name="new_game" value="Start">
            </div>
        </form>
    </div>

    <div class="container">
        <label for="player">Move Player</label>
        <input type="text" id="player" name="player" value="{{ player }}" disabled>
        {% if game_over %}
            <input type="text" name="win" value="Win!" disabled>
            <label for="game_over">Game over</label>
            <input type="text" id="game_over" name="game_over" value="{{ game_over }}" disabled>
        {% endif %}
    </div>

    <div>
      <form action='index' method="POST">
        <div class="container">
          {% for row in board %}
            {% set outer_loop = loop %}
            <div class="row">
              {% for col in row %}
                {% set disabled = '' %}
                {% if col %}{% set disabled = 'disabled' %}{% endif %}
                  <div class="col-sm-0">
                    <input type="submit"
                           id="{{ outer_loop.index0 }} {{ loop.index0 }}"
                           name="{{ outer_loop.index0 }} {{ loop.index0 }}"
                           value="{{ col }}"
                           {{ disabled }}
                    >
                  </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    -->

  </body>
</html>